#profile-picture{
    border-radius: 100%;
    width: 150px;
    height: 150px;
}

.image-profile{
    display: inline-block;
    width: 20%;
}

.name-profile{
    display: inline-block;
    position: relative;
    width: 79%;
    height: 100%;
    font-size: 32px;
}

.body-profile-page{
    background-color: gray;
    min-width: 100%;
    min-height: 400px;
}